*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Tahoma, sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 5px 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

/* ============================== */

body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr;
}

/* ============================== */

#form {
  padding: 20px;
  background-color: #b0acca;
  color: #32297c;
}

h1 {
  margin: 10px;
  text-align: center;
}

input {
  margin-bottom: 12px;
  width: 100%;
}

#create {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: #32297c;
}

#create:hover {
  background-color: #32297c;
  color: #fff;
}

#create:active {
  background-color: #8d83d4;
}

/* ================================= */

.meme {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

