*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Tahoma, sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 5px 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

/* ============================== */

body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr;
}

/* ============================== */

#form {
  padding: 20px;
  background-color: #b0acca;
  color: #32297c;
}

h1 {
  margin: 10px;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 64px;
}

input {
  margin-bottom: 12px;
  width: 100%;
}

#create {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: #32297c;
}

#create:hover {
  background-color: #32297c;
  color: #fff;
}

#create:active {
  background-color: #8d83d4;
}

#error {
  margin-left: 12px;
  color: red;
  font-size: 0.9em;
}

/* ================================= */

#gallery {
  padding: 30px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.meme {
  display: inline-block;
  margin: 10px;
  position: relative;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  min-width: 400px;
}

.text {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    0 3px 0 #000,
    0 -3px 0 #000,
    3px 0 0 #000,
    -3px 0 0 #000;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.meme img {
  width: 100%;
  border: 1px solid black;
}

.meme:hover > .delete {
  transform: scaleX(1);
}

.delete {
  position: absolute;
  padding: 4px 16px;
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.1s all ease;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  border: none;
  z-index: 1;
}

.delete:hover {
  color: #ff3b3b;
}